<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Forgot your password?</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form action="/users/password" method="POST" class="space-y-6">

      <div>
        <label for="email" class="block text-sm/6 font-medium text-gray-100">Email</label>
        <div class="mt-2">
          <input id="email" type="email" name="user[email]" required autocomplete="email" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>
      </div>

      <div>
        <input type="submit" value="Send me reset password instructions" data-disable-with="Send me reset password instructions"/>
      </div>

      <div class="space-y-4">
        <a href="/users/sign_in" class="flex w-full items-center justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Log in</a>
        <a href="/users/sign_up" class="flex w-full items-center justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sign up</a>
      </div>
    </form>
  </div>
</div>


