<div class="">
<aside>
<h1>Boards</h1>

<%= link_to "Create new board", new_board_path%>
</aside>

<div class="">
    <% @boards.each do |board| %>
    <div class="">
      <%= link_to board.name, board %>
    </div>
    <% end %>
</div>
</div>